name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: build premake
      run: cd Scripts && ./Setup-Linux.sh && cd ..
    - name: make config=dist
      run: make config=dist
    - name: make check
      run: make check
    - name: make distcheck
      run: make distcheck
